body{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
.resul{
    color: white;
    font-size: 30px;
    margin-bottom: 20px; /* Adicionado um pouco de espaçamento */
}
header{
    background-image: url(imagens/fundocalcu.png);
    background-size: cover; /* Ajustado para cobrir a área */
    background-position: center; /* Centraliza a imagem de fundo */
    height: 400px;
    
    display: flex; /* centralizar o h1 e a nav */
    flex-direction: column; /* Coloca os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; 
}
header h1{
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 20px; /* Espaçamento entre o título e o menu */
}

#container{
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0e0e0e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* centralizar a calculadora */
    flex-direction: column; /* Itens em coluna */
    align-items: center; 
}


#container input[type="number"] {
    width: 80%; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #222;
    color: white;
    font-size: 18px;
    text-align: center;
}

#container button {
    padding: 10px 20px;
    background-color: #294928; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

#container button:hover {
    background-color: #555555;
}


/* BOTOES MENU*/
nav{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%; 
}
nav ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; /* remove os marcadores padrão */
    display: flex; /* Habilita flexbox para os itens do menu */
    justify-content: center; 
    align-items: center; /* Centraliza verticalmente (se houver variação de altura) */
    width: 100%; 
}
nav li {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
}
nav li a {
    font-weight: bold;
    display: inline-block;
    background-color: #464646; 
    color: rgb(161, 184, 226);             
    padding: 8px 16px;         /* altura e largura do botão */
    border-radius: 8px;        /* cantos arredondados */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


nav li a:hover { 
    background-color: #0b3d91; 
}